body {
  margin: 0;
}

.app-container {
  background-image: url('../public/page\ accueil.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  
}


.app-container header nav a {
  color: white; 
  text-decoration: none; 
  margin: 0 10px; 
}

.app-container header nav a:hover {
  color: yellow; 
}

.app-container header .nav-link-home {
  color: white; 
  text-decoration: none; 
  margin: 0 10px; 
}

.app-container header .nav-link-home:hover {
  color: yellow; 
}
